{% extends 'base.html' %}

{% block title %}Search{% endblock %}


{% block content %}
<div class="dir-search">
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="mb-3">
            <!---->
            <input class="form-control" type="text" placeholder="Search" name="searched">
        </div>
        <button type="submit" class="btn btn-secondary">Search</button>
    </form>
</div>
<div>
    {% if searched %}
        {% for item in searched %}
            <a class="nav-link" href="/{{item.sAMAccountName}}">{{item.sAMAccountName}}</a> <br/>
        {% endfor %}

    {% endif %}
</div>
{% endblock %}